<configuration>
    <statusListener class="me.snoty.backend.logging.StatusListener"/>
    <conversionRule conversionWord="highlight" converterClass="me.snoty.backend.logging.ColorConversion"/>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%cyan(%d{YYYY-MM-dd HH:mm:ss.SSS}) %green({%thread}) [%highlight(%level)] %X{call-id} %blue(%logger{36}:%L) - %msg%n</pattern>
        </encoder>
    </appender>
    <appender name="OpenTelemetry"
              class="io.opentelemetry.instrumentation.logback.appender.v1_0.OpenTelemetryAppender">
    </appender>

    <root level="${LOG_LEVEL:-INFO}">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="OpenTelemetry"/>
    </root>

    <logger name="me.snoty.backend.featureflags.FeatureFlagsSetup" level="INFO"/>

    <logger name="io.ktor.client" level="${CLIENT_LOG_LEVEL:-WARN}"/>
    <logger name="io.ktor.server" level="${SERVER_LOG_LEVEL:-WARN}"/>
    <logger name="io.netty" level="${SERVER_LOG_LEVEL:-WARN}"/>

    <logger name="org.jobrunr" level="INFO"/>
    <logger name="io.grpc" level="INFO"/>
    <logger name="dev.openfeature" level="INFO"/>
    <logger name="org.mongodb.driver" level="INFO"/>
    <logger name="org.mongodb.driver.protocol.command" level="INFO"/>
    <logger name="net.fortuna.ical4j" level="INFO"/>
</configuration>
