services:
  flagd:
    image: ghcr.io/open-feature/flagd:v0.13.3
    ports:
      - "${FLAGD_PORT}:8013"
    command:
      - start
      - --uri
      - file:/etc/flagd/flagd.yml
    volumes:
      - ./flagd.yml:/etc/flagd/flagd.yml
