{% assign url = config.apiHost | append: "/wiring/node/me.snoty.integration.notion.page/notion_page/authorize" %}

Click
<a class="anchor"
   href="#"
   onClick="window.open('{{ url }}','NotionLogin','width=600,height=500,popup=true')">
    here</a>
to open a new window and authorize the Notion integration.
Paste the token shown in that window into the Token field above.
